<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>User</title>
</head>
<body>
<h3>ID:</h3>
<p th:text="${user.getId()}">VALUE</p>
<h3>Username:</h3>
<p th:text="${user.getUsername()}">VALUE</p>
<h3>Real name:</h3>
<p th:text="${user.getRealName()}">VALUE</p>
<h3>Age:</h3>
<p th:text="${user.getAge()}">VALUE</p>
<h3>Password:</h3>
<p th:text="${user.getPassword()}">VALUE</p>

<a th:href="@{/admin/{id}/edit(id=${user.getId()})}">UPDATE</a>

<form th:method="DELETE" th:action="@{/admin/{id}(id=${user.getId()})}">
  <input type="submit" value="DELETE"/>
</form>
<form>
  <input type="button"
         value="Logout"
         onClick='location.href="/logout"'/>
</form>
</body>
</html>